

body{
  background-color: #C2C2C4;
  font-family: monospace;

}


.hovedside{
display: grid;
grid-template-columns: 1fr 1fr;
}


.tekst{
  color: #60656F;
  font-size: 23px;
  margin-left: 20px;
margin-right: 20px;
}

#headline{
  text-align: center;
  font-size: 35px;
  font-weight: bold;

}

main{
  margin-top: 100px;
  position: relative;
  animation: fadeinn 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeinn {
  from {opacity: .4}
  to {opacity: 1}
}


footer{
  display: block;
  text-align: center;
  background-color: #363537;
  color: white;

  position: absolute;
  width: 100%;
  margin-top: 30px;
  right: 0;
  left: 0;

  /*<p>Kontaktinformasjon: </p>

  <p>SnusPant AS</p>
  <p>Elias Smiths vei 15</p>
  <p>1337 Sandvika</p>*/
}
#bildesnus{
  width: 600px;
  border-radius: 4px;
  margin-top: 70px;
  margin-left: 70px;
  border-style: solid;
  border-width:4px;

}
#bildesnus:hover{
  transform: scale(1.05);
  transition: 0.4s;
}


#logo1{
  width: 50px;


}
.forklar{
  background-color: lightgray;
  margin-top:30px;
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 3px;
}
.
forklar p8{
    color: #60656F;
}
